
body {
  padding-top: 80px;
  background-image: linear-gradient(to right,  #d7d2cc  , #304352);
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}